/* Put your CSS here */
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
    background-color: #00BCD4;
    font-family: 'Roboto',  sans-serif;
    font-weight: 400;

}

ul{
    list-style-type: none;
}


/*#002c50*/
.aee-blue{
    background-color: #00BCD4;
}
/*Original: #fav331;*/
.aee-yellow{
    background-color: #FFEB3B;
}

.home-button, .white {
    background-color: white;
    color: #00BCD4;
}
.home-button:hover, .home-button:active{
    background-color:rgba(255, 255, 255, 0.86); 
    color: #00BCD4;
}
.breakdowns-list-container {
    overflow: hidden; 
    height: 80%;
}
.breakdowns-list {
    overflow-y: scroll; 
    height: 100%;
}
.breakdowns-information {
    white-space: none;
    overflow-y:scroll;
    min-height: 155px;
    margin-top: -4%;
    background-color: #808080;
}
.breakdowns-information hr{
    margin-top: 0;
    margin-bottom: 1%;
}
#display-map{
    background-color: #fff;
    color: #00BCD4;
}
#display-map:hover{
    background-color: #ECEFF1;
}
.side-color{
    background-color: #00BCD4;
}
.bottom-padding{
    padding-bottom: 4%;
}
.no-padding-left > .columns{
    padding-left: 0px;
}

.side-nav li a:not(.button){
    font-weight: 500;
    color: white;
}
.side-nav li a:not(.button):hover{
    color: #00BCD4;
    background-color: white;
}
#map svg{
    margin-left:-8%;
    margin-top:-10%;
}
.breakdown{
    background-color: #5B5B5B;
}
.breakdown:hover, .breakdown:active, .breakdown:focus{
    background-color: #2b2b2b;
    color: #212121;
}
#region-name{
    color: #666;
    width: 250px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
#pueblo-list{
    padding-right: 8px;
}
.map-active{
    fill: #FFEB3B;
}
.map-not-active{
    fill: #8aedbb;
}
.breakdown-details{
    padding-top:0.5%;
    padding-bottom:0.5%;
    padding-left:0.5%;
    padding-right:0.5%;
    height: 250px;
}
.breakdown-details h1{
    margin-top:1%;
    margin-bottom:1%;
}
.breakdown-details p{
    font-weight:400;
    margin-bottom:1%;
    color: #fff;
}
.breakdown-detail-space{
    margin-top:1%;
    margin-bottom:1%;
    margin-right:1%;
    width: 32.3333%;
    color:white;
}
.home {
    width: 100%;
    background-color: #00BCD4;
}
.home h1, h2, h3, h4, a, p{
    color:white;
}
.home-information{
    margin-top: 7%;
}
.img-small{
    height: 50px;
}
.footer-information{
    text-align: right;
    display: inline;
}
.img-circle{
    border-radius: 50%;
}
.loading{
    content: url('http://bradsknutson.com/wp-content/uploads/2013/04/page-loader.gif');
    width:5%;
    height:10%;
    margin: 20% auto 25% auto;
    z-index: 100;
}
.general-loading-size{
    margin: 20% auto 25% auto;
    z-index: 100;
}
.specific-loading-size{
    margin-top: -1%;
}
.no-display{
    display: none;
}
.breakdown-form{
    padding: 10%;
}
.breakdown-content{
    background-color: white;
    padding: 5%;
}
.breakdown-content h1{
    color: #4d4d4d;
}
.breakdown-content p{
    color: #4d4d4d;
}
.breakdown-content a{
    color: #00BCD4;
}
.submit-button{
    color: white;
    background-color: #00BCD4;
}
.submit-button:hover, .submit-button:active{
    background-color: rgba(0, 188, 212, 0.88);
};