/* Put your CSS here */
ul, li, a, p, h1, h2, h3, h4{
    color: white;
}
/*#002c50*/
.aee-blue{
    background-color: #002c50;
}
.aee-yellow{
    background-color: #fab331;
}
#display-map{
    background-color: #fab331;
}
#display-map:hover{
    backdground-color: #FFA90D;
}
.side-color{
    background-color: #002c50;
}
.bottom-padding{
    padding-bottom: 4%;
}
.no-padding-left > .columns{
    padding-left: 0px;
}
.side-nav li a:not(.button){
    font-weight: 500;
    color: white;
}
.side-nav li a:not(.button):hover{
    color: white;
}
#map svg{
    left:-10%;
    margin-top:-10%;
}
.breakdown{
    background-color: #5B5B5B;
}
.breakdown:hover, .breakdown:active, .breakdown:focus{
    background-color: #2b2b2b;
    color: white;
}
#region-name{
    font-family: 'helvetica';
    color: #666;
    width: 250px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}
.map-active{
    fill: #fab331;
}
.map-not-active{
    fill: #8aedbb;
}
.breakdown-details{
    padding-top:0.5%;
    padding-bottom:0.5%;
    padding-left:0.5%;
    padding-right:0.5%;
}
.breakdown-details h1{
    margin-top:1%;
    margin-bottom:1%;
}
.breakdown-details p{
    font-weight:400;
    margin-bottom:1%;
}
.breakdown-detail-space{
    margin-top:1%;
    margin-bottom:1%;
    margin-right:1%;
    background-color:#fab331;
    width:32.3333%
}
